# Reference/Mock files
rep_statements/

# Virtual Environment
venv/
main.dist/

# Scratch Files
find_line_in_text.py
scratch/
scratch1.py
scratch2.py
sfcu_checking_extracted_text.txt
sfcu_checking_extracted_text_2.txt
test_csv_view.txt
test_temp_scrape.txt
test_temp.csv
word_scratch.py

# VS Code workspace
spendster.code-workspace
spendster_workspace.code-workspace

# Python
__pycache__